.logo{

    border-radius:50%;
    max-width: 40%;
    background-color: white;
}

.nav li{

    display: inline-block;
    text-align: center;
    padding: 3%;

}

.page{

    background-color: blueviolet;
    border-radius: 20%;
    text-shadow: 3px 3px 5px black;
    box-shadow: 2px 2px 2px yellow;

}

.nav{

    background-color: white;

    

}

.nav a{

   color: yellow; 
   text-decoration: none;
   font-size: larger;

}

a:hover{
    font-weight: bold;
    text-decoration: dotted underline;
}

.label img{

    max-width: 100%;
    max-height: 50%;
}

.whole{

    background-color: white;
}

.bod h1{

    font-size: xx-large;
    text-align: left;
}
.list{

    display: block;
}

.bod ul li{

    display: inline-block;
    padding: 3%;
}


.bod p{

    font-size: large;
    text-align: left;
}

.foot{

    background-color: blueviolet;
    color: white;
    font-size: medium;
    padding-bottom: 1%;
}

.foot ul li{

    display: inline-block;
    padding-right: 5%;
    font-size: x-large;
}

.foot ul li img{

    max-width: 30%;
    max-height: 30%;
    padding-top: 10%;
}

.foot ul li a{

    color: white;
    text-decoration: none;
    font-size: xx-large;
}

.nav ul li h1{

    color: blueviolet;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    text-shadow: 1px 1px 3px purple;
}
